<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.primum.cept.eldritchhorrorcompanion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/es"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.TitleActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainMenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".activities.CardMenuActivity"
            android:label="@string/title_activity_random_card" />
        <activity android:name=".activities.DisplayCardActivity" android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SpellSelectionActivity"
            android:label="@string/title_activity_selection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AssetSelectionActivity"
            android:label="@string/title_activity_selection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UniqueAssetSelectionActivity"
            android:label="@string/title_activity_selection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ConditionSelectionActivity"
            android:label="@string/title_activity_selection"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>